@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*
font-family: 'Roboto', sans-serif;
*/

/*
General Styling
*/

:root {
    --light-mode-font
    --light-mode-body
    --light-mode-
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/*
Overall Layout
*/

.container--game-board {
    border: 2px red solid;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

/*
Game Title and Dark Mode Row
*/

.container--game-title {
    border: 2px blue solid;
    background-color: pink;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.container--game-title > h1 {
    font-size: 1.6rem;
    padding: 1rem 2rem;
}

/*
Dark Mode
*/

.container--light-dark-mode {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.container--light-dark-mode button {
    position: relative;
    height: 3rem;
    width: 7rem;
    border: none;
    border-radius: 10px;
}

.container--light-dark-mode span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*
Rules Title
*/

.container--game-rules-heading {
    background-color: aqua;
}

.container--game-rules {
    background-color: green;
}

.container--play-game {
    background-color: red;
}
