@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*
f   ont-family: 'Roboto', sans-serif;
*/

/*
    General Styling
*/

:root {
    --light-mode-color: rgba(20, 19, 17, 1);
    --light-mode-background: rgba(194, 193, 190, 1);
    --light-mode-: ;
    --dark-mode-color: rgba(194, 193, 190, 1);
    --dark-mode-background: rgba(20, 19, 17, 1);
    --dark-mode--: ;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font: var(--light-mode-color);
    background-color: var(--light-mode-background);
}

.--dark-mode {
    background-color: var(--light-mode-color);
    color: var(--light-mode-background);
}

/* 
    Utility Classes
*/

.--hide-content {
    display: none;
}

.--position-relative {
    position: relative;
}

.--center-position-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*
    Overall Layout
*/

.container--game-board {
    border: 2px red solid;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

/*
    Game Title and Dark Mode Row
*/

.container--game-title {
    border: 2px blue solid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.container--game-title > h1 {
    font-size: 1.6rem;
    padding: 1rem 2rem;
}

/*
Dark Mode
*/

.container--light-dark-mode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 5rem;
}

.container--dark-mode-btns {
    width: max-content;
    height: max-content;
}

.container--light-dark-mode button {
    height: 3rem;
    width: 7rem;
    border: none;
    border-radius: 10px;
}

/*
    Rules Title
*/

.container--game-rules-heading {
    background-color: aqua;
}

.container--game-rules {
    background-color: green;
}

.container--play-game {
    background-color: red;
}

/* 
    TODO
        1)  Create an ID element to toggle the dark mode button so it
            shows either the sun or the moon. JS

        2)  Create var variables for dark and light mode

        3)  Toggle on click event to turn dark mode on and off.


        RESEARCH HOW TO MAKE YOUR OWN BOOTSTRAP CONTAINERS!!!!
*/
