@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*
f   ont-family: 'Roboto', sans-serif;
*/

/*
    General Styling
*/

:root {
    /* *** Light Mode ***  */
    --light-mode--background: rgba(194, 193, 190, 1);
    --light-mode--container-background: rgba(127, 126, 124, 1);
    --light-mode--font-color: rgba(20, 19, 17, 1);
    /* *** Dark Mode ***  */
    --dark-mode--background: rgba(127, 126, 124, 1);
    --dark-mode--container-background: rgba(45, 42, 35, 1);
    --dark-mode--font-color: rgba(194, 193, 190, 1);
}

/* 
    *** Utility Classes ***
*/

.--container {
    width: 90vw;
    margin-left: 5vw;
}
.--hide-content {
    display: none;
}

.--dark-mode {
    background-color: var(--light-mode--font-color);
    color: var(--light-mode--background);
}

.--position-relative {
    position: relative;
}

.--center-position-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font: var(--light-mode--font-color);
    background-color: var(--light-mode--background);
}

/*
    *** Overall Layout ***
*/

.container__game_board {
    border: 2px red solid;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

/*
    *** Game Title and Dark Mode Row ***
*/

.container__game-title {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--light-mode--container-background);
}

.container__game-title > h1 {
    font-size: 1.6rem;
    padding: 1rem 2rem;
}

/*
    *** Dark Mode ***
*/

.container__dark-mode-toggler {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 5rem;
}

.container__dark-mode-toggler-btns {
    width: max-content;
    height: max-content;
}

.container__dark-mode-toggler button {
    height: 3rem;
    width: 7rem;
    border: none;
    border-radius: 10px;
}

/*
    *** Rules Title ***
*/

.container__game-rules-title {
    background-color: var(--light-mode--container-background);
}

.container__game-rules {
    background-color: var(--light-mode--container-background);
}

.container__play-game {
    background-color: var(--light-mode--container-background);
}
